{% extends 'base.html.twig' %}
{% block body %}
<h1>Welcome to the Profile:edit page</h1>
    <div class="row mt">
        <div class="col-lg-12">
            <div class="form-panel">
                <h4 class="mb"><i class="fa fa-angle-right"></i> Welcome to the Profile:create page</h4>
                {{ form(form) }}
            </div><!-- /form-panel -->
        </div><!-- /col-lg-12 -->
    </div>
{% endblock %}
