{% trans_default_domain 'FOSUserBundle' %}

<div id="login-page">
    <div class="container">
        <form class="form-login" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }}  method="post">
            <h2 class="form-login-heading">register now</h2>
            <div class="login-wrap">
                <input type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" maxlength="255" pattern=".{2,}" class="form-control" placeholder="User Name" autofocus/>
                <input type="text" id="fos_user_registration_form_email" class="form-control" placeholder="User Email" value="" required="required" name="fos_user_registration_form[email]" />
                <input type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" class="form-control" placeholder="Password">
                <input type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" class="form-control" placeholder="Repeat Password">
                {% do form.username.setRendered %}
                {% do form.email.setRendered %}
                {% do form.plainPassword.setRendered %}
                <input type="submit" id="_submit" name="_submit" class="btn btn-theme btn-block" value="REGISTER" />
                 <hr>
                <div class="registration">
                    Have an account already?<br/>
                    <a class="" href="#">
                        Sign In
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% block javascripts %}
    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script>
        $.backstretch("/bundles/datingmain/dashgumfree/assets/img/login-bg.jpg", {speed: 500});
    </script>
{% endblock javascripts %}
